<%- include('partials/header'); %>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-5">
            <div class="card">
                <div class="card-body">
                    <form action="/update/<%= data.id %>" method="post">
                        <div class="form-group">
                            <label>Nombre:</label>
                            <input
                                type="text"
                                name="nombre"
                                value="<%= data.nombre %>"
                                class="form-control"
                            />
                        </div>

                        <div class="form-group">
                            <label>Apellido paterno:</label>
                            <input
                                type="text"
                                name="apellido_paterno"
                                value="<%= data.apellido_paterno %>"
                                class="form-control"
                            />
                        </div>

                        <div class="form-group">
                            <label>Apellido materno:</label>
                            <input
                                type="text"
                                name="apellido_materno"
                                value="<%= data.apellido_materno %>"
                                class="form-control"
                            />
                        </div>

                        <div class="form-group">
                            <label>Edad:</label>
                            <input
                                type="text"
                                name="edad"
                                value="<%= data.edad %>"
                                class="form-control"
                            />
                        </div>

                        <div class="form-group">
                            <label>Telefono:</label>
                            <input
                                type="text"
                                value="<%= data.telefono %>"
                                class="form-control"
                                name="telefono"
                            />
                        </div>
                        <button type="submit" class="btn btn-primary">
                            Guardar Cambios
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('partials/footer'); %>
